.auth {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__greeting-message {
    padding-top: 0.75rem;
  }
}